@charset "UTF-8";

/**
 * mobile.css	-	Portfolio-Webpage for Mobiles
 *
 * Copyright 2013 Micheal Walls <michealpwalls@gmail.com>
 * 
 * 	Note: Portions Copyright 2013 Brad Birdsall (swipe.js & styles)
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 **/

#page-title {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

img.projectImage {
	width: 280px;
	height: 300px;
	display: block;
}

h1, h2, h3 { margin: 0.2%; }

h2 {
	font-size: 1.2em;
	padding-left: 10px;
}

div.contentBody { padding: 2%; padding-left: 3.5%; }

div.contentBodySubsection { padding: 2.5%; padding-left: 4%; }

em { font-weight: bold; }

li.subItem {
	list-style: circle;
	margin-left: 2em;
}

li.subSubItem {
	list-style: square;
	margin-left: 4em;
}

/**
 * swipe.js styles
 * Copyright Brad Birdsall
 */
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
}
