/**
 * photoslider.css		-		simple-photo-slider
 * 
 * By Fabio Kenji <https://github.com/fkenji/simple-photo-slider>
 */

.selected{
  background-color:#284C7E;  
}

.photo-slider {
	list-style-type:none;
}

.marker{
  width:40px; 
  height:7px;
  border:1px #284C7E solid;
  display:inline-block;
  cursor:pointer;
  margin-left:5px;
}

div.buttons{
  position:relative;
  margin-top:5px;
}
