/*
 * wide.css		-	 Portfolio-Webpage
 * 
 * Copyright 2013 Micheal Walls <michealpwalls@gmail.com>
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 * 
 * 
 */
body {
	background: #6996D3;
	margin: 0.5%;
	padding: 0px;
	font-size: 16px;
	color: #000000
}

#contentContainer {
	padding: 10px;
	background: #4380D3;
	border: #284C7E solid 2px;
	border-radius: 12px;
	text-align: left;
}

#navigationContainer, nav {
	display: inline;
	padding: 0px;
}

#navigationContainer {
	margin-left: 85px;
	margin-top: 25px;
}

#headerContainer {
	margin-top: 25px;
	margin-bottom: 30px;
}

div.navigationLink, div.navigationLink:hover, div.navigationLinkActive {
	padding: 3px;
	border: 1px solid #284C7E;
	border-radius: 5px;
	background: #4380D3;
	display: inline;
}

div.navigationLinkActive {
	border: 0px;
	cursor: default;
}

div.navigationLink:hover {
	background: #6996D3;
	cursor: pointer;
}

#logo {
	position: absolute;
	top: 3px;
	left: 10px;
	margin: 0px;
	padding: 0px;
}

a.navigationLinkAnchor, a.navigationLinkAnchor:hover, a.navigationLinkAnchor:active {
	color: #000000;
	text-decoration: none;
}

#copyrightContainer {
	text-align: center;
	font-style: italic;
	font-size: 10px;
}

h1, h2, h3 { margin: 0.2%; }

h2 {
	font-size: 1.2em;
	padding-left: 10px;
}

div.contentBody { padding: 2%; }

div.contentHole {
	float: right;
	width: 75px;
	padding: 10px;
	background: #6996D3;
	border: #284C7E solid 2px;
	border-radius: 12px;
	text-align: center;
}

img.projectImage {
	text-align: center;
	width: 480px;
	height: 320px;
	display: block;
	margin-bottom: 10px;
}

em { font-weight: bold; }

article section section { margin: 0.5%; }

div.contentBodySubsection {
	margin: 0.5%;
	margin-left: 1%;
}

li.subItem {
	list-style: circle;
	margin-left: 2em;
}

li.subSubItem {
	list-style: square;
	margin-left: 4em;
}

ul.photo-slider li img {
	width: 500px;
}

.floatRight { float: right; }
